<form class="card white darken-1 card-content black-text">
    <div class="input-field">
        <input id="last_name" type="text" class="validate">
        <label for="last_name" class="active">App Name</label>
    </div>
</form>

<form class="card white darken-1 card-content black-text">
    <div class="row input-field">
        <input id="last_name" type="text" class="validate">
        <label for="last_name" class="active">Short App Description</label>
    </div>

    <div class="input-field">
        <textarea id="last_name" class="materialize-textarea"></textarea>
        <label for="last_name" class="active">Long App Description</label>
    </div> 
</form>

<div class="card white darken-1 card-content">
    <rl-tag-input placeholder="Add keywords" addOnSpace="true" allowDuplicates="false"></rl-tag-input>
</div>
