<div style="width:550px">
<nav>
  <ol class="cd-breadcrumb triangle center-align" >
    <li class="ui mini"
        [ngClass]="{'current': isAppInfoCurrent }">
      <a (click)="toggleCurrent(appInfoID)" id="header_item_app_info" [routerLink]="['/app-info']" skipLocationChange style="font-size: large">App Info</a>
    </li>
    <li [ngClass]="{'current': isProfileInfoCurrent }">
      <a *ngIf="!isAppInfoValid" id='header_item_profileInfo' skipLocationChange style="font-size: large">Profile Info</a>
      <a *ngIf="isAppInfoValid" (click)="toggleCurrent(profileInfoID)" id='header_item_profileInfo' [routerLink]="['/app-profile-info']" skipLocationChange style="font-size: large">Profile Info</a>
    </li>
    <li [ngClass]="{'current': isBlogCurrent }">
      <a *ngIf="isAppInfoValid && isProfileInfoValid" (click)="toggleCurrent(blogInfoID)" [routerLink]="['/app-blog']" id="header_item_blog" skipLocationChange style="font-size: large">Blog</a>
      <a *ngIf="(isAppInfoValid && isProfileInfoValid) === false" id="header_item_blog" skipLocationChange style="font-size: large">Blog</a>
    </li>
    <li
      [ngClass]="{'current': isDesignCurrent }">
      <a *ngIf="(isAppInfoValid && isProfileInfoValid && isBlogValid)" (click)="toggleCurrent(designInfoID)" [routerLink]="['/design']" id="header_info_design" skipLocationChange style="font-size: large">Design</a>
      <a *ngIf="(isAppInfoValid && isProfileInfoValid && isBlogValid) === false" id="header_info_design" skipLocationChange style="font-size: large">Design</a>
    </li>
  </ol>
</nav>
</div>
