<div class="row">
  <div class="col-xs-8">
  <md-card class="demo-card-blue">
    <form [formGroup]="form">
      <div class="demo-card-container">
        <md-card>
          <md-card-content>
            <md-input-container>
              <template #popTemplate><p>We recommend strong, relevant keyword in your App Name. For example, <br/> a. Contraband – Free Mixtapes <br/>
                b. Fresh Radio – Hip-Hop and Soul <br/>c. Jayforce – Celebrity News<br/>d. DJ Kenny B – Chicago House<br/></p></template>
              <input [(ngModel)]="appInfo.appName"
                      [formControl]="form.controls['appName']"
                      (input)="onInput()"
                      [popover]="popTemplate"
                      triggers="focus:blur"
                      class="tb-width"
                      type="text"
                      maxlength="30"
                      mdInput
                      placeholder="App Name"
                      id="app_name">
              <md-hint [ngStyle]="{'color': 'red'}"
                        align="start"
                        *ngIf="form.controls['appName'].hasError('required') && form.controls['appName'].touched">{{ appNameEmptyErrorMessage }}</md-hint>
            </md-input-container>
          </md-card-content>
        </md-card>
      </div>
      <br />
      <div class="demo-card-container">
        <md-card>
          <md-card-content>
            <md-input-container>
              <template #popTemplate2>{{shortDescriptionMaxCharacters}}</template>
              <!--
              <popover-content #myPopoverDesc
                placement="bottom"
                [animation]="true"
                [closeOnClickOutside]="true" >
                  {{shortDescriptionMaxCharacters}}
              </popover-content>
              -->
              <textarea [(ngModel)]="appInfo.shortDescription"
                        [formControl]="form.controls['shortDescription']"
                        [ngClass]="{'has-error':!form.controls['appName'].valid && form.controls['appName'].touched}"
                        rows="2"
                        [popover]="popTemplate2"
                        triggers="focus:blur"
                        (input)="onInputForValidation()"
                        class="tb-width input-height has-error"
                        type="text"
                        mdInput
                        placeholder="Short Description"
                        maxlength="80"
                        id="shortdes"></textarea>
              <md-hint [ngStyle]="{'color': 'red'}"
                        align="start"
                        *ngIf="form.controls['shortDescription'].hasError('required') && form.controls['shortDescription'].touched">{{ shortDescriptionEmptyErrorMessage }}</md-hint>

            </md-input-container>
            <br />
            <md-input-container>
              <!--
              <popover-content #myPopoverLongDesc
                placement="bottom"
                [animation]="true"
                [closeOnClickOutside]="true" >
                  {{longDescriptionMaxCharacters}}
              </popover-content>
              -->
              <template #popTemplate3>{{longDescriptionMaxCharacters}}</template>
              <textarea [(ngModel)]="appInfo.longDescription"
                        [formControl]="form.controls['longDescription']"
                        rows="10"
                        [popover]="popTemplate3"
                        triggers="focus:blur"
                        (input)="onInputForValidation()"
                        class="tb-width"
                        mdInput
                        maxlength="4000"
                        placeholder="Full Description"
              id="longdes"></textarea>
              <md-hint [ngStyle]="{'color': 'red'}"
                        align="start"
                        *ngIf="form.controls['longDescription'].hasError('required') && form.controls['longDescription'].touched">{{ longDescriptionEmptyErrorMessage }}</md-hint>
            </md-input-container>

          </md-card-content>
        </md-card>
      </div>
      <br />

      <div class="demo-card-container">
        <md-card>
          <md-card-content>
            <!--
            <popover-content #myPopoverKey
                placement="bottom"
                [animation]="true"
                [closeOnClickOutside]="true" >
                  {{keywordMaxCharacters}}
              </popover-content>
            -->
            <template #popTemplate4>{{keywordMaxCharacters}}</template>
            <tag-input [formControl]="form.controls['keywords']"
                          [(ngModel)]="appInfo.keywords"
                          (onBlur)="onTagLostFocus($event)"
                          (addTag)="onInputForValidation()"
                       [popover]="popTemplate4"
                       triggers="focus:blur"
                          (onclick)="onTagLostFocus($event)"
                          (removeTag)="onInputForValidation()"
                          placeholder="Add some keywords"
                          addOnSpace="true"
                          addOnPaste="true"
                          addOnEnter="true"
                          addOnBlur="true"
                          maxItems="10"
                          modelAsStrings="true"
                          [separatorKeys]="[',']"
                          addOnComma="true"
            id="tagInput"></tag-input>
            <md-hint [ngStyle]="{'color': 'red'}"
                      align="start"
                      *ngIf="form.controls['keywords'].hasError('required') && isTagTouched">{{ keywordEmptyErrorMessage }}</md-hint>
          </md-card-content>
        </md-card>
      </div>
      <br />

      <div class="demo-card-container">
        <md-card>
          <md-card-subtitle>
            <em>Upload a picture that is at least 512 in one dimmension. E.g. 512x500 or 350x600</em>
          </md-card-subtitle>
          <md-card-content>
            <div [attr.id]="'tabimageInput'">
              <img-cropper  #cropper [image]="appInfo.image" [settings]="cropperSettings"  (onCrop)="onCrop($event)"></img-cropper><br>
            </div>
          </md-card-content>
        </md-card>
      </div>
    </form>
    <div align="right" style="padding-top: 16px">
      <button id="next_button" md-button (click)="_headerService.next()" [disabled]="!_appInfoPageValid">
        Next
        <md-icon>arrow_forward</md-icon>
      </button>
    </div>
  </md-card></div>
  <div class="col-xs-4" style="padding-left:16px">
    <bv-device-mockup [page]="0" style="padding-left:16px"></bv-device-mockup>
  </div>
</div>



