<div class="demo-card-container card-width">
  <md-card class="demo-card-blue">
    <md-card class="mat-card-flat">
      <md-card-content>
        <md-tab-group dynamicHeight="true">
          <md-tab id="tab_social" label="Social">
            <router-outlet name="social"></router-outlet>
          </md-tab>
          <md-tab id="tab_music" label="Music">
            <router-outlet name="music"></router-outlet>
          </md-tab>
          <md-tab id="tab_video" label="Video">
            <router-outlet name="video"></router-outlet>
          </md-tab>
          <md-tab id="tab_radio" label="Radio">
            <router-outlet name="radio"></router-outlet>
          </md-tab>
        </md-tab-group>
      </md-card-content>
    </md-card>
  </md-card>

</div>
