<div style='position:absolute; top:0; right:0; bottom:0; left:0; overflow-y:scroll; overflow-x: hidden'>
<ons-toolbar>
  <div class="center">{{ title }}</div>
</ons-toolbar>

<div *ngIf="_sharedService.showHeader" class="container" style="padding-top:64px">  
    <div class="row">  
      <div class="center-block">
        <bv-header></bv-header>
      </div>
    </div>
  </div>

  <div class="container">  
    <div class="row">  
      <div class="center-block">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
  <br/>
</div>
