<md-card>
  <md-card-content>
    <md-input-container>
      <input class="tb-width" mdInput placeholder="Headline">
    </md-input-container>

    <br/>
    <ckeditor [(ngModel)]="ckeditorContent"
              debounce="500">
    </ckeditor>

    <br/>

    <div>
      <img-cropper [image]="data" [settings]="cropperSettings"></img-cropper><br>
      <!--<img [src]="data.image" [width]="cropperSettings.croppedWidth" [height]="cropperSettings.croppedHeight">-->
    </div>

    <br />

    <tag-input [(ngModel)]="keywords"
               secondaryPlaceholder="Add a keyword"
               modelAsStrings="true"
               blinkIfDupe="true"
               placeholder="Add another keyword"
               pasteSplitPattern="[' ']"
               addOnSpace="true"
               addOnPaste="true"
               trimTags="true"
               editable="true"
               addOnBlur="true"
               separatorKeys="[32]"></tag-input>  <!-- separatorKeys=[32] mean to use space as way to seperate keys-->

  </md-card-content>
  <md-card-actions align="right">
    <button md-button>Cancel</button>
    <button md-button>Submit</button>
  </md-card-actions>
</md-card>

<br/>

<md-card>
    <div md-card-avatar class="example-header-image"></div>
    <md-card-title>Blog post name</md-card-title>
    <md-card-subtitle><em>Time posted/edited</em></md-card-subtitle>
  <img md-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg">
  <md-card-content>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas odio dui, molestie non lacinia in, eleifend ut sapien. Maecenas id dapibus sapien. Sed vel tincidunt enim, nec mattis nisl. Nullam varius massa nisi, sed auctor tellus hendrerit non. In eget sem nec risus posuere auctor in ac tortor. Aenean leo orci, blandit ut dui ut, congue porta quam. Praesent gravida tortor at cursus rutrum. Curabitur vitae pellentesque velit. Sed eu massa a neque interdum iaculis vel sit amet tortor. Etiam nisl ipsum, sollicitudin a ullamcorper et, ultrices at tortor. Duis vel malesuada velit, vitae luctus elit.
    </p>
  </md-card-content>
  <md-card-actions align="right">
    <button md-button>Delete</button>
    <button md-button>Edit</button>
  </md-card-actions>
</md-card>