<br />

<md-card class="demo-card-blue">
  <md-card-content>
    <div class="container" align="center">
      <p>
        <em><b>[At least one Music Profile is required if you want to have a Music tab]</b></em>
      </p>
    </div>
  </md-card-content>
</md-card>
<br/>

<div *ngFor='let display of displayArray' style="padding-bottom:16px">

  <div class="ui message">
    <div class="ui ribbon label" [style.background-color]=display.color>
      <span *ngIf="display.icon.length > 0" class="{{display.icon}}"></span>
      <span *ngIf="display.iconLocation.length > 0" class="socicon"><img src="{{display.iconLocation}}" style="height: 1em;"></span>
      <font style="padding-left:5px" color="white">{{display.mediaName}}</font>
    </div>


    <div class="row">
      <div class="col-xs-12">
        <div class="input-group">
            <div class="ui label">
              {{display.pre_url}}
            </div>
            <input class="form-control" [attr.id]="'input' + display.mediaName" [maxlength]=display.length [(ngModel)]="display.username" type="text" placeholder="username">
        </div><!-- /input-group -->
      </div><!-- /.col-xs-12 -->
    </div><!-- /.row -->
  </div>
</div>
