<div class="row">
  <div  class="col-xs-8">
  <div class="demo-card-container">
    <md-card class="demo-card-blue">
      <div class="demo-card-container">
      <md-card-content>

        <div>
          <div popover="Click any item to expand content"
              popoverTitle="Hint"
              popoverPlacement="top"
              [popoverOnHover]="true"
              [popoverCloseOnClickOutside]="true"
              [popoverCloseOnMouseOutside]="false"
              [popoverAnimation]="true"
              >
            <div class="row">
              <div class="col card" (click)= "toggleCollapse(colorTabID)">Color</div>
              <div class="col card" (click)= "toggleCollapse(deviceModel.tabs[0].id); deviceModel.activeTab = deviceModel.tabs[0]">{{ deviceModel.tabs[0].title }}</div>
              <div class="col card" (click)= "toggleCollapse(deviceModel.tabs[deviceModel.tabs.length-1].id); deviceModel.activeTab = deviceModel.tabs[deviceModel.tabs.length-1]">
                {{ deviceModel.tabs[deviceModel.tabs.length-1].title }}</div>
              </div>
            </div>
          </div>

        <div popover="Drag these items to change order of tabs on device."
              popoverTitle="Hint"
              popoverPlacement="top"
              [popoverOnHover]="true"
              [popoverCloseOnClickOutside]="true"
              [popoverCloseOnMouseOutside]="false"
              [popoverDisabled]="(deviceModel.tabs.length == 3)"
              [popoverAnimation]="true"
              class="row"
              [dragula]='"drag-bag"'>
                <div *ngFor="let tab of deviceModel.tabs | slice:1:deviceModel.tabs.length - 1"
                      class="col card"
                      (click)= "toggleCollapse(tab.id); deviceModel.activeTab = tab"
                      [id] = 'tab.id'>{{ tab.title }}
                </div>
      </div>

        <div [suiCollapse]="colorTabID !== currentID">
          <div class="ui segment">
            <h4 class="ui header">Color</h4>


            <div class="row" style="height: 320px">
              <div class="col">
            <span [(colorPicker)]="deviceModel.colors[selectedColor]"
                  [cpDialogDisplay]="'inline'"
                  [style.background]="deviceModel.colors[selectedColor]"
                  [cpCancelButtonClass]= "'btn btn-primary btn-xs'"
                  [cpCancelButton]="false"
                  [cpToggle]="true"
            >
            </span>
              </div>
              <div class="col">
                  <div popover="Click to change the color of the header"
                        popoverTitle="Hint"
                        popoverPlacement="bottom"
                        [popoverOnHover]="true"
                        [popoverCloseOnClickOutside]="true"
                        [popoverCloseOnMouseOutside]="false"
                        [popoverAnimation]="true"
                  >
                  <div (click)="selectedColor='primary'"
                        style="width:200px;
                        height:75px;
                        border:1px solid #000;"
                        [style.background]="deviceModel.colors['primary']">
                  </div>
                </div>
                  <br/>

                  <div popover="Click to change the color of the refresh button"
                        popoverTitle="Hint"
                        popoverPlacement="bottom"
                        [popoverOnHover]="true"
                        [popoverCloseOnClickOutside]="true"
                        [popoverCloseOnMouseOutside]="false"
                        [popoverAnimation]="true"
                  >
                <div (click)="selectedColor='secondary'"
                      style="width:200px;
                      height:75px;
                      border:1px solid #000;"
                      [style.background]="deviceModel.colors['secondary']"></div>
                </div>
                </div>
            </div>
          </div>
        </div>

        <div *ngFor="let tab of deviceModel.tabs" >
          <div [suiCollapse]="tab.id !== currentID">
            <div class="ui segment">

              <h4 class="ui header">{{ tab.title }} Tab</h4>
              <form action="#">
                <div class="row">
                    <div popover="Upload an image to change current tab icon."
                         popoverTitle="Hint"
                         popoverPlacement="bottom"
                         [popoverOnHover]="true"
                         [popoverCloseOnClickOutside]="true"
                         [popoverCloseOnMouseOutside]="false"
                         [popoverAnimation]="true"
                    >
                  <bv-design-image-cropper #designImgCropperIcon class="col s2" [model]="tab" [image]="tab.image" [settings]="cropperSettings" (onCrop)="onCrop($event, tab)"></bv-design-image-cropper>
                  </div>
                    <div class= "col s8">

                    <div class="row">
                      <md-input-container>

                      <input id="tab_title"
                             [(ngModel)]="tab.title"
                             class="tb-width"
                             type="text"
                             maxlength="10"
                             mdInput
                             [ngModelOptions]="{standalone: true}"
                             placeholder="Tab Title"
                             >
                        </md-input-container>
                    </div>
                    <div class="row">
                      <input type="checkbox"
                             id="tabItem"
                             checked="tab.showTitle"
                             [(ngModel)]="tab.showTitle"
                             [ngModelOptions]="{standalone: true}"/>
                      <label for="tabItem" style="padding-left:10px">Show Title?</label>
                    </div>
                    <div class="row" *ngIf="tab.image.image != ''">
                      <input type="checkbox"
                             id="tabItem2"
                             checked="tab.showTitle"
                             [(ngModel)]="tab.showImage"
                             [ngModelOptions]="{standalone: true}"/>
                      <label for="tabItem2" style="padding-left:10px">Show Image?</label>
                    </div>
                    <div class="row" *ngIf="tab.headerImage.image != ''">
                      <input type="checkbox"
                             id="tabItem3"
                             checked="tab.showTitle"
                             [(ngModel)]="tab.showHeader"
                             [ngModelOptions]="{standalone: true}"/>
                      <label for="tabItem3" style="padding-left:10px">Show App Header?</label>
                    </div>

                  </div>
                </div>

                <div class="row">
                  <div popover="Upload an image to change the app header."
                         popoverTitle="Hint"
                         popoverPlacement="top"
                         [popoverOnHover]="true"
                         [popoverCloseOnClickOutside]="true"
                         [popoverCloseOnMouseOutside]="false"
                         [popoverAnimation]="true"
                    >
                    <bv-design-image-cropper class="col s2" #designImgCropper [model]="tab" [image]="tab.headerImage" [settings]="headerCropperSettings" (onCrop)="onCropHeader($event, tab)"></bv-design-image-cropper>
                  </div>
                </div>

              </form>

            </div>
          </div>
        </div>

      </md-card-content>
      </div>
    </md-card>
  </div>
  </div>
  <div class="col-xs-4" style="padding-left:16px">
    <bv-device-mockup [page]="1" style="padding-left:16px"></bv-device-mockup>
  </div>
</div>



