<div class="row">
  <div  class="col-xs-8">
  <div class="demo-card-container">
    <md-card class="demo-card-blue">
      <div class="demo-card-container">
      <md-card-content>

        <div>
          <div popover="Click any item to expand content"
              popoverTitle="Hint"
              popoverPlacement="top"
              [popoverOnHover]="true"
              [popoverCloseOnClickOutside]="true"
              [popoverCloseOnMouseOutside]="false"
              [popoverAnimation]="true"
              >
            <div class="row">
              <div class="col card" id="card_color" (click)= "toggleCollapse(colorTabID);">Color</div>
              <div class="col card" id="card_main" (click)= "toggleCollapse(deviceModel.tabs[mainEnum].id); deviceModel.activeTab = deviceModel.tabs[mainEnum]">{{ deviceModel.tabs[mainEnum].title }}</div>
              <div class="col card" id="card_more" (click)= "toggleCollapse(deviceModel.tabs[moreEnum].id); deviceModel.activeTab = deviceModel.tabs[moreEnum]">
                {{ deviceModel.tabs[moreEnum].title }}</div>
            </div>
          </div>
        </div>

        <div popover="Drag these items to change order of tabs on device."
             popoverTitle="Hint"
             popoverPlacement="top"
             [popoverOnHover]="true"
             [popoverCloseOnClickOutside]="true"
             [popoverCloseOnMouseOutside]="false"
             [popoverDisabled]="(deviceModel.tabs.length == 3)"
             [popoverAnimation]="true"
             [dragula]='"drag-bag"'
             class="row"
        >
          <div *ngFor="let tab of deviceModel.tabs | slice:1:deviceModel.tabs.length - 1 | valid"
               class="col card"
               (click)= "toggleCollapse(tab.id); deviceModel.activeTab = tab"
               [id] = 'tab.id'>{{ tab.title }}
          </div>
        </div>

        <div [suiCollapse]="colorTabID !== currentID">
          <div class="ui segment">
            <h4 class="ui header">Color</h4>


            <div class="row" style="height: 320px">
              <div class="col">
            <span [(colorPicker)]="deviceModel.colors[selectedColor]"
                  [cpDialogDisplay]="'inline'"
                  [style.background]="deviceModel.colors[selectedColor]"
                  [cpCancelButtonClass]= "'btn btn-primary btn-xs'"
                  [cpCancelButton]="false"
                  [cpToggle]="true"
                  [cpFallbackColor]="'#000'"
                  [cpOutputFormat]="'hex'"
                  (colorPickerChange)="onChangeColor($event)"
                  (onInput) = "onChangeColor($event)"
            >
            </span>
              </div>
              <div class="col">
                  <div popover="Click to change the color of the header"
                        popoverTitle="Hint"
                        popoverPlacement="bottom"
                        [popoverOnHover]="true"
                        [popoverCloseOnClickOutside]="true"
                        [popoverCloseOnMouseOutside]="false"
                        [popoverAnimation]="true"
                  >
                    <h3>Primary Color</h3>
                  <div (click)="selectedColor='primary'"
                        style="width:200px;
                        height:75px;
                        border:1px solid #000;"
                        [style.background]="deviceModel.colors['primary']">
                    <p align="center" style="color: white">{{deviceModel.colors['primary']}}</p>
                  </div>
                </div>
                  <br/>
                <br>

                  <div popover="Click to change the color of the refresh button"
                        popoverTitle="Hint"
                        popoverPlacement="bottom"
                        [popoverOnHover]="true"
                        [popoverCloseOnClickOutside]="true"
                        [popoverCloseOnMouseOutside]="false"
                        [popoverAnimation]="true"
                  >
                    <h3>Secondary Color</h3>
                <div (click)="selectedColor='secondary'"
                      style="width:200px;
                      height:75px;
                      border:1px solid #000;"
                      [style.background]="deviceModel.colors['secondary']">
                  <p align="center" style="color: white">{{deviceModel.colors['secondary']}}</p>
                </div>
                </div>
                </div>
            </div>
          </div>
        </div>

        <div *ngFor="let tab of deviceModel.tabs;let i = index;" >
          <div [suiCollapse]="tab.id !== currentID">
            <div class="ui segment">

              <h4 id= "{{tab.id + 'uiSegment'}}"  class="ui header">{{ tab.title }} Tab</h4>
                <div class="row">
                    <div popover="Upload an image to change current tab icon."
                         popoverTitle="Hint"
                         popoverPlacement="bottom"
                         [popoverOnHover]="true"
                         [popoverCloseOnClickOutside]="true"
                         [popoverCloseOnMouseOutside]="false"
                         [popoverAnimation]="true"
                    >
                      <h3 style="padding-left: 15px">Upload Tab Icon (Optional)</h3>
                      <p style="padding-left: 15px">Upload 100 x 100 Monochrome PNG</p>
                  <bv-design-image-cropper [attr.id]="'tabimageInputDiv' + tab.id" #designImgCropperIcon class="col s2" [model]="tab" [image]="tab.image" [settings]="cropperSettings" (onCrop)="onCrop($event, tab)"></bv-design-image-cropper>
                    </div>
                    <div class= "col s8">

                    <div class="row">
                      <md-input-container>

                      <input id="tab_title"
                             [(ngModel)]="tab.title"
                             class="tb-width"
                             type="text"
                             maxlength="10"
                             mdInput
                             [ngModelOptions]="{standalone: true}"
                             placeholder="Tab Title"
                             >
                        </md-input-container>
                    </div>
                    <div class="row">
                      <input type="checkbox"
                             [attr.id]="'tabItem' + i"
                             [checked]="tab.showTitle"
                             [(ngModel)]="tab.showTitle"/>
                      <label [attr.for]="'tabItem' + i" style="padding-left:10px">Show Tab Name</label>
                    </div>
                    <div class="row" *ngIf="tab.showImage">
                      <button (click)="restoreIcon(tab)">Restore Default Icon</button>

                    </div>
                      <!--
                    <div class="row" *ngIf="tab.headerImage.image != ''">
                      <input type="checkbox"
                             id="tabItem3"
                             checked="tab.showTitle"
                             [(ngModel)]="tab.showHeader"
                             [ngModelOptions]="{standalone: true}"/>
                      <label for="tabItem3" style="padding-left:10px">Show App Header?</label>
                    </div>
                    -->

                  </div>
                </div>

                <div [attr.id]="'imageInputDiv' + tab.id" class="row" *ngIf="tab.hasHeader">
                  <div popover="Upload an image to change the app header."
                         popoverTitle="Hint"
                         popoverPlacement="top"
                         [popoverOnHover]="true"
                         [popoverCloseOnClickOutside]="true"
                         [popoverCloseOnMouseOutside]="false"
                         [popoverAnimation]="true"
                    >
                    <h3 style="padding-left: 15px">Upload Header Image (Required)</h3>
                    <p style="padding-left: 15px">Upload {{tab.headerDimenWidth}} x {{tab.headerDimenHeight}} Image</p>
                    <bv-design-image-cropper *ngIf="tab.id === mainEnum || tab.id == moreEnum" class="col s2" #designImgCropper [model]="tab" [image]="tab.headerImage" [settings]="headerCropperSettings" (onCrop)="onCropHeader($event, tab)"></bv-design-image-cropper>
                    <bv-design-image-cropper *ngIf="tab.id === musicEnum || tab.id === videoEnum || tab.id === photoEnum" class="col s2" #designImgCropper1 [model]="tab" [image]="tab.headerImage" [settings]="headerVIDMUSPHOTCropperSettings" (onCrop)="onCropHeader($event, tab)"></bv-design-image-cropper>
                    <bv-design-image-cropper *ngIf="tab.id === radioEnum" class="col s2" #designImgCropper2 [model]="tab" [image]="tab.headerImage" [settings]="headerRADIOCropperSettings" (onCrop)="onCropHeader($event, tab)"></bv-design-image-cropper>
                  </div>
                </div>

                <div *ngIf="tab.hasExtraHeader" [attr.id]="'imageInputDiv' + tab.id" class="row">
                  <div popover="Upload an image to change the secondary header."
                       popoverTitle="Hint"
                       popoverPlacement="top"
                       [popoverOnHover]="true"
                       [popoverCloseOnClickOutside]="true"
                       [popoverCloseOnMouseOutside]="false"
                       [popoverAnimation]="true"
                  >
                    <h3 style="padding-left: 15px">Upload Mini Header Image (Required)</h3>
                    <p style="padding-left: 15px">Upload {{tab.extraHeaderDimenWidth}} x {{tab.extraHeaderDimenHeight}} Image</p>
                    <bv-design-image-cropper class="col s2" #designImgCropper [model]="tab" [image]="tab.extraHeaderImage" [settings]="extraHeaderCropperSettings" (onCrop)="onCropHeader($event, tab)"></bv-design-image-cropper>
                  </div>
                </div>
            </div>
          </div>
        </div>

      </md-card-content>
      </div>
      <div align="right" style="padding-top: 16px">
        <button style="float:left" md-button (click)="_headerService.prev()">
          <md-icon>arrow_back</md-icon>Previous
        </button>
        <button md-button [disabled]="!isSubmitEnabled">
          Submit
          <md-icon>arrow_upward</md-icon>
        </button>
      </div>
    </md-card>


  </div>
  </div>
  <div class="col-xs-4" style="padding-left:16px">
    <bv-device-mockup [page]="1" style="padding-left:16px"></bv-device-mockup>
  </div>
</div>



