<div class="marvel-device s5 black">
  <div class="top-bar"></div>
  <div class="sleep"></div>
  <div class="volume"></div>
  <div class="camera"></div>
  <div class="sensor"></div>
  <div class="speaker"></div>
  <div class="screen" [style.background]="backgroundColor">

    <ons-toolbar>

      <ons-page>
      <div style='padding: 3px; width: 130px; word-break: break-all; word-wrap: break-word; font-size:36px;color:#000000;'>
        {{ text }}
      </div>
      </ons-page>
    </ons-toolbar>
<!--

    <ons-template id="Music.html">

      <ons-page>
      <p style="padding-top: 100px; color: #999; text-align: center">Page Contents</p>
      </ons-page>
    </ons-template>

    <ons-template id="Video.html">
      <ons-page>
      <p style="padding-top: 100px; color: #999; text-align: center">Page Contents</p>
      </ons-page>
    </ons-template>

    <ons-template id="Photo.html">

      <ons-page>
      <p style="padding-top: 100px; color: #999; text-align: center">Page Contents</p>
      </ons-page>
    </ons-template>

    <ons-template id="Tab_4.html">

      <ons-page>
      <p style="padding-top: 100px; color: #999; text-align: center">Page Contents</p>
      </ons-page>
    </ons-template>

    <ons-template id="Tab_5.html">

      <ons-page>
      <p style="padding-top: 100px; color: #999; text-align: center">Page Contents</p>
      </ons-page>
    </ons-template>
-->
    <ons-tabbar>
      <ons-tab page="Music" label="Home" icon="ion-home" active="true"></ons-tab>
      <ons-tab page="Video" label="Comments" icon="ion-chatbox-working"></ons-tab>
      <ons-tab page="Photo" label="Tags" icon="ion-ios-pricetag"></ons-tab>
      <ons-tab page="Tab 4" label="Settings" icon="ion-ios-cog"></ons-tab>
      <ons-tab page="Tab 5" label="Settings" icon="ion-ios-cog"></ons-tab>
    </ons-tabbar>






  </div>




</div>
