<br/>

<div>
  <div class="row">
    <div class="col-xs-8">
      <md-input-container>
        <input [(ngModel)]="profile.website"
              (input)="onInput()"
              style="width:400px"
              type="text"
              maxlength="100"
              mdInput
              [disabled]="profile.noWebsite"
              placeholder="Website url"
        id="website_name">
      </md-input-container>
    </div>
    <div class="col-xs-4">
    <md-checkbox [(ngModel)]="profile.noWebsite" (change)="onChecked()" *ngIf="profile.noWebsite || profile.website === ''" mdTooltip="If you do not have a website, you can use the account you have with BV Mobile Apps">Don't have a website?</md-checkbox></div>
  </div>

  <md-input-container>
    <input [(ngModel)]="profile.phone_number"
           type="text"
           maxlength="100"
           mdInput
           placeholder="Phone number (optional)"
    id="phone">
  </md-input-container>
</div>

<div *ngFor='let display of displayArray' style="padding-bottom:20px">

  <div class="ui message">
    <div class="ui ribbon label" [style.background-color] = display.color>
      <span class="{{display.icon}}"></span><font style="padding-left:5px" color="white">{{display.mediaName}}</font>
    </div>

    <div class="row">
      <div class="col-xs-12">
        <div class="input-group">
            <div class="ui label">
              {{display.pre_url}}
            </div>
            <input class="form-control" [attr.id]="'input' + display.mediaName" [(ngModel)]="display.username" [maxlength]=display.length type="text" placeholder="username (optional)">
        </div><!-- /input-group -->
      </div><!-- /.col-xs-12 -->
    </div><!-- /.row -->
  </div>
</div>
