<form [formGroup]="form" (keydown.enter)="$event.preventDefault()">
  <md-card>
    <md-card-content>
      <md-input-container>
        <input
               [(ngModel)]="blogPost.headline"
               [formControl]="form.controls['headline']"
               class="tb-width"
               mdInput placeholder="Headline">
        <md-hint [ngStyle]="{'color': 'red'}"
                 align="start"
                 *ngIf="form.controls['headline'].hasError('required') && form.controls['headline'].touched">{{ headlineErrorMessage }}</md-hint>
      </md-input-container>

      <br />
      <ckeditor [(ngModel)]="blogPost.body"
                [formControl]="form.controls['blog']"
                [config]="config"
                debounce="500">
      </ckeditor>
      <br />

      <div>
        <img-cropper #cropper [(image)]="blogPost.image" [settings]="cropperSettings" (onCrop)="onCrop($event)"></img-cropper><br>
      </div>

      <br />

      <rl-tag-input [(ngModel)]="blogPost.keywords"
                 [formControl]="form.controls['keywords']"
                 (onBlur)="onTagLostFocus($event)"
                 placeholder="Add a keyword"
                 addOnSpace="true"
                 addOnPaste="true"
                 addOnEnter="true"
                 addOnBlur="true"></rl-tag-input>  <!-- separatorKeys=[32] mean to use space as way to seperate keys-->
    </md-card-content>
    <md-card-actions>
      <div align="right">
        <button md-button type="button" (click)="cancel()">Cancel</button>
        <button md-button type="button" (click)="submit()" [disabled]="!form.valid">Submit</button>
      </div> 
    </md-card-actions>
  </md-card>
</form>
