<div class="marvel-device s5 black">
  <div class="top-bar"></div>
  <div class="sleep"></div>
  <div class="volume"></div>
  <div class="camera"></div>
  <div class="sensor"></div>
  <div class="speaker"></div>

  <div class="screen" *ngIf="page === 0" style="background: white"> <!-- appInfoPage -->

    <div class="bar bar-header bar-positive">
      <button  class="button button-icon icon ion-arrow-left-c"></button>
      <h1 class="title" style="text-align: left; padding-left:40px">Google Play Store</h1>
      <button  class="button button-icon icon ion-ios-search-strong" style="float: right"></button>
    </div>

    <div class="content has-header padding has-footer padding" style="color: black; position:absolute; right:0;left:0; overflow-y:hidden; overflow-x: hidden">
      <div class="post-container">
        <div class="post-thumb" style="width: 100px;height: 100px;"><img [src]="appInfo.image.image" style="background: url(/assets/img/dummy.png);width: 100px;height: 100px;" /></div>
        <div class="post-content">
          <p align="left" class="post-title" style=
            " font-size: medium;
              word-wrap: break-all;
              max-height: 1em;
              height: 1em ;
              line-height: 1em;
              font-family: 'Roboto', 'Helvetica Neue', sans-serif;
              margin-bottom: 1px">
            {{appInfo.appName| slice:0:14}}
          </p>
          <p align="left" style="font-family: 'Roboto', 'Helvetica Neue', sans-serif;">BV Mobile Apps</p></div>
      </div>

      <br>
      <div class="myButton right-align" style="float: right;">INSTALL</div>

<!--
        <md-button-toggle-group class="align-content-center" #group="mdButtonToggleGroup">
          <md-button-toggle value="left">
            Details
          </md-button-toggle>
          <md-button-toggle value="center">
            Review
          </md-button-toggle>
          <md-button-toggle value="right">
            Related
          </md-button-toggle>
        </md-button-toggle-group>

-->
      <br>

      <hr style="margin-bottom: 5px">
          <img align="center" src="../../../assets/img/play_store_icons.png" style="height: 75px; width: auto;">
      <hr style="margin-top: 5px">

      <p align="center" style="word-wrap: break-word;width: 15em;margin-left: 20px ">
        {{appInfo.shortDescription}}
      </p>
      <p align="center" style="word-wrap: break-word;width: 15em;margin-left: 20px; font-family: 'Roboto', 'Helvetica Neue', sans-serif; color: #029a53; font-weight: bold ">
        READ MORE
      </p>
    </div>
  </div>

  <div class="screen" *ngIf="page === 1"> <!-- designPage -->

    <div class="bar bar-header bar-positive" [style.background]="deviceModel.colors['primary']" [style.border-color]="backgroundColor">
      <h1 class="title" style="float: left; text-align: left">{{ deviceModel.appName }}</h1>
      <button [style.background]="deviceModel.colors['secondary']" class="button button-icon icon ion-refresh"></button>
    </div>

    <div *ngIf="deviceModel.activeTab !== null && deviceModel.activeTab.showHeader" [style.height] = "'deviceModel.activeTab.headerDimenHeight' + 'px !important'" class="bar bar-subheader bar-positive" style="background-size: 100% 100%" [ngStyle]="{'background-image': 'url(' + deviceModel.activeTab.headerImage.image + ')'}" [style.border-color]="backgroundColor">
    </div>

    <div class="wrapper">
      <div class="tabs tabs-icon-top" style="background-color: black" [style.border-color]="backgroundColor">
          <div class="tab-item active" *ngFor="let tab of deviceModel.tabs | valid" (click) = "tabClicked(tab)" [ngStyle]=" deviceModel.activeTab.id === tab.id ? {'background-color':deviceModel.colors['secondary']} : {'background-color': black}">
            <a style="color: white">
              <i *ngIf="tab.image.image !== '' && tab.showImage" [attr.id]="'inputBackground' + tab.id" class="icon" style="background-size: 32px 32px" [ngStyle]="{'background-image': 'url(' + tab.image.image + ')'}"></i>
              <i *ngIf="tab.image.image === '' || !tab.showImage" [attr.id]="'inputRegular' + tab.id" [class]="tab.defaultIcon"  ></i>
              <div *ngIf="tab.showTitle == true">
                  {{ tab.title }}
              </div>
            </a>
          </div>
      </div>
    </div>
  </div>
</div>
