<div class="marvel-device s5 black">
  <div class="top-bar"></div>
  <div class="sleep"></div>
  <div class="volume"></div>
  <div class="camera"></div>
  <div class="sensor"></div>
  <div class="speaker"></div>
  <div class="screen" [style.background]="backgroundColor">

    <div class="bar bar-header bar-positive">
      <h1 class="title">App  Name</h1>
      <button class="button button-icon icon ion-refresh"></button>
    </div>

    <div class="bar bar-subheader bar-calm">
      <h2 class="title">Sub Header</h2>
    </div>


    <div class="content has-header padding has-footer padding has-subheader padding">
      <div>

      </div>

      <div>

      </div>

      <div>

      <div class="center" style='font-size:medium;color:#000000;'>
        App Name
      </div>

      <div>

      </div>

      <div>

      </div>

    </div>


    <div class='wrapper'>
    <div class="tabs tabs-icon-top" [dragula]='"section-bag"'>
      <div class="tab-item active">
      <a>
        <i class="icon ion-music-note"></i>
        Music
      </a>
      </div>

      <div class="tab-item active">
      <a>
        <i class="icon ion-star"></i>
        Video
      </a>
      </div>

      <div class="tab-item active">
      <a>
        <i class="icon" style="background-image: url('https://raw.github.com/driftyco/ionic-site/gh-pages/img/docs/mcfly.jpg');background-size: 32px 32px;"></i>
        Photo
      </a>
      </div>

      <div class="tab-item active">
      <a>
        <i class="icon ion-gear-a"></i>
        Tab 4
      </a>
    </div>

      <div class="tab-item active">
      <a>
        <i class="icon ion-gear-a"></i>
        Tab 5
      </a>
    </div>

    </div>
    </div>

<!--

    <ons-template id="Music.html">

      <ons-page>
      <p style="padding-top: 100px; color: #999; text-align: center">Page Contents</p>
      </ons-page>
    </ons-template>

    <ons-template id="Video.html">
      <ons-page>
      <p style="padding-top: 100px; color: #999; text-align: center">Page Contents</p>
      </ons-page>
    </ons-template>

    <ons-template id="Photo.html">

      <ons-page>
      <p style="padding-top: 100px; color: #999; text-align: center">Page Contents</p>
      </ons-page>
    </ons-template>

    <ons-template id="Tab_4.html">

      <ons-page>
      <p style="padding-top: 100px; color: #999; text-align: center">Page Contents</p>
      </ons-page>
    </ons-template>

    <ons-template id="Tab_5.html">

      <ons-page>
      <p style="padding-top: 100px; color: #999; text-align: center">Page Contents</p>
      </ons-page>
    </ons-template>

    <ons-tabbar>
      <ons-tab page="Music" label="Music" icon="ion-home" active="true"></ons-tab>
      <ons-tab page="Video" label="Video" icon="ion-chatbox-working"></ons-tab>
      <ons-tab page="Photo" label="Photo" icon="ion-ios-pricetag"></ons-tab>
      <ons-tab page="Tab 4" label="Tab 4" icon="ion-ios-cog"></ons-tab>
      <ons-tab page="Tab 5" label="Tab 5" icon="ion-ios-cog"></ons-tab>
    </ons-tabbar>

-->




  </div>




</div>
