<br/>



<div class="ui message">
  <div class="ui blue ribbon label">
    <span class="socicon socicon-facebook"></span> Facebook
  </div>
  <br/>
  <br/>
<div class="row">
  <div class="col s12">
    <div class="ui labeled input col s12">
      <div class="ui label">
        https://www.facebook.com/
      </div>
      <input type="text" placeholder="username">
    </div>
  </div>
</div>
</div>





<ons-speed-dial direction="right">
  <ons-fab>
    <ons-icon icon="ion-plus-round">
    </ons-icon>
  </ons-fab>
  <ons-speed-dial-item
                       (click)="onFabClicked(mediaType)"
                       *ngFor='let mediaType of contentArray'>
    <ons-icon [ngClass]="mediaType.icon"></ons-icon>
  </ons-speed-dial-item>
</ons-speed-dial>
<br/>
<br/>
