<br />

<md-card class="demo-card-blue">
  <md-card-content>
    <div class="container" align="center">
      <p>
        <em><b>[YouTube is required if you want to have a video tab]</b></em>
      </p>
    </div>
  </md-card-content>
</md-card>

<br/>

<div *ngFor='let display of displayArray' style="padding-bottom:16px">

  <div class="ui message">
    <div class="ui ribbon label" [style.background-color]=display.color>
      <span class="{{display.icon}}"></span> {{display.mediaName}}
    </div>


    <div class="row">
      <div class="col s12">
        <div class="ui labeled input col s12" style="max-width: 80%">
          <div class="ui label" >
            {{display.pre_url}}
          </div>
          <input [(ngModel)]="display.username" type="text" placeholder="username">
        </div>
      </div>
    </div>
  </div>
</div>

