<br/>

<div>
  <div class="row">
    <div class="col-xs-8">
      <md-input-container>
        <input [(ngModel)]="profile.website"
              (input)="onInput()"
              style="width:400px"
              type="text"
              maxlength="100"
              mdInput
              [disabled]="checked"
              placeholder="Website url">
      </md-input-container>
    </div>
    <div class="col-xs-4">
    <md-checkbox [(ngModel)]="checked" (change)="onChecked()" *ngIf="checked || profile.website === ''" mdTooltip="If you do not have a website, you can use the account you have with BV Mobile Apps">Don't have a website?</md-checkbox></div>
  </div>

  <md-card class="demo-card-blue">
    <md-card-content>
      <div class="container" align="center">
        <p>
          <em><b>[Phone number, Social Media, Music, Video, and Radio are all optional. However, if you'd like to have a tab for that media outlet, please provide the appropriate information]</b></em>
        </p>
      </div>
    </md-card-content>
  </md-card>
  <br/>

  <md-input-container>
    <input [(ngModel)]="profile.phone_number"
           type="text"
           maxlength="100"
           mdInput
           placeholder="Phone number (optional)">
  </md-input-container>
</div>

<div *ngFor='let display of displayArray' style="padding-bottom:20px">

  <div class="ui message">
    <div class="ui ribbon label" [style.background-color] = display.color>
      <span class="{{display.icon}}"></span> {{display.mediaName}}
    </div>


    <div class="row">
      <div class="col s12">
        <div class="ui labeled input col s12" style="max-width: 80%">
          <div class="ui label">
            {{display.pre_url}}
          </div>
          <input [(ngModel)]="display.username" type="text" placeholder="username">
        </div>
      </div>
    </div>
  </div>
</div>
