<br/>

<div>
  <md-input-container>
    <input [(ngModel)]="profile.website"
           (input)="onInput()"
           class="tb-width"
           type="text"
           maxlength="100"
           mdInput
           placeholder="Website url">
  </md-input-container>
  <md-input-container>
    <input [(ngModel)]="profile.phone_number"
           type="text"
           maxlength="100"
           mdInput
           placeholder="Phone number (optional)">
  </md-input-container>
</div>

<div *ngFor='let display of displayArray' style="padding-bottom:20px">

  <div class="ui message">
    <div class="ui ribbon label" [style.background-color] = display.color>
      <span class="{{display.icon}}"></span> {{display.mediaName}}
    </div>


    <div class="row">
      <div class="col s12">
        <div class="ui labeled input col s12" style="max-width: 80%">
          <div class="ui label">
            {{display.pre_url}}
          </div>
          <input [(ngModel)]="display.username" type="text" placeholder="username">
        </div>
      </div>
    </div>
  </div>
</div>
