<ons-page>
  <ons-toolbar>
    <div class="center">BV Mobile Apps</div>
  </ons-toolbar>

﻿<div class="container" style="padding-top:64px">
  <div class="row col s12">
    <div class="col s8">
      <div>
        <bv-input-page-header [current]="currentHeader" (currentChanged)="onCurrentHeaderChanged($event)"></bv-input-page-header>
        <div class="card-width">
            <md-card class="demo-card-blue">
              <md-card-content>
                <router-outlet></router-outlet>
              </md-card-content>
            <div align="right">

  <div class="container" style="padding-top:64px">
    <div class="row col s12">
      <div class="col s8">
        <div>
          <bv-input-page-header [current]="currentHeader" (currentChanged)="onCurrentHeaderChanged($event)"></bv-input-page-header>

          <div class="card-width">
            <md-card>
              <md-card-content>
                <md-card class="demo-card-blue">
                  <md-card-content>
                    <router-outlet></router-outlet>
                  </md-card-content>
                </md-card>
              </md-card-content>
              <div align="right">

                <button style="float:left" md-button (click)="prev()" *ngIf="showPrevButton">
                  <md-icon>arrow_back</md-icon>Previous
                </button>
                <button md-button (click)="next()" [disabled]="isNextButtonDisabled()">
                  Next
                  <md-icon>arrow_forward</md-icon>
                </button>

              </div>
            </md-card>
          </div>
        </div>

      </div>

    <div class="col s4">
      <bv-device-mockup [headerText]="appInfo.appName" class="locked"></bv-device-mockup>
    </div>
  </div>

</ons-page>
