<div class="container" style="padding-top:64px">
  <div class="row col s12">
    <div class="col s8">
      <div>
        <bv-input-page-header [current]="currentHeader"></bv-input-page-header>
        <div class="card-width">
          <md-card class="demo-card-blue">
            <md-card-content>
              <router-outlet></router-outlet>
            </md-card-content>
          </md-card>
        </div>
      </div>
    </div>

    <div class="col s4">
      <bv-device-mockup [headerText]="appInfo.appName" class="locked"></bv-device-mockup>
    </div>
  </div>
</div>

