<nav>
  <ol class="cd-breadcrumb triangle">
    <li
        [ngClass]="{'current': isAppInfoCurrent }"
        (click)="toggleCurrent(isAppInfoCurrent)">
      <a [routerLink]="['/app-info']" skipLocationChange>App Information</a>
    </li>
    <li [ngClass]="{'current': isProfileInfoCurrent }"
        (click)="toggleCurrent(profileInfoID)">
      <a [routerLink]="['/app-profile-info']" skipLocationChange>Profile Information</a>
    </li>
    <li [ngClass]="{'current': isBlogCurrent }"
        (click)="toggleCurrent(blogInfoID)">
      <a [routerLink]="['/app-blog']" skipLocationChange>Blog</a>
    </li>
    <li
      [ngClass]="{'current': isDesignCurrent }"
      (click)="toggleCurrent(designInfoID)">
      <a [routerLink]="['/design']" skipLocationChange>Design</a>

    </li>
  </ol>
</nav>
