<br />

<md-card class="demo-card-blue">
  <md-card-content>
    <div class="container" align="center">
      <p>
        <em><b>[If you would like to include a Radio tab in your app, enter the Streaming URL]</b></em>
      </p>
    </div>
  </md-card-content>
</md-card>

<br/>

<div *ngFor='let display of displayArray'>

  <div class="ui message">
    <div class="ui ribbon label" [style.background-color]=display.color>
      <span class="{{display.icon}}"></span><font style="padding-left:5px" color="white">{{display.mediaName}}</font>
    </div>

    <div class="row">
      <div class="col-xs-12">
        <div class="input-group">
            <input class="form-control" [attr.id]="'input' + display.mediaName" [maxlength]=display.length [(ngModel)]="display.username" type="text" placeholder="Streaming url">
        </div><!-- /input-group -->
      </div><!-- /.col-xs-12 -->
    </div><!-- /.row -->
  </div>
</div>

