<br />

<div *ngFor='let display of displayArray'>

  <div class="ui message">
    <div class="ui ribbon label" [style.background-color]=display.color>
      <span class="{{display.icon}}"></span> {{display.mediaName}}
    </div>

    <a (click)="onDelete(display)" class="ui right corner label" [style.background-color]=display.color [style.border-color]=display.color>
      <i class="delete icon"></i>
    </a>

    <div class="row">
      <div class="col">
        <div class="ui labeled input col" style="max-width: 80%">
          <div class="ui label">
            {{ display.pre_url }}
          </div>
          <input [(ngModel)]="display.username" type="text" placeholder="url">

        </div>

      </div>
    </div>
  </div>
</div>

<div *ngIf="contentArray.length > 0">
  <br />
  <br />
  <br />
  <div class="row">
    <div class="col s12">
      <ons-speed-dial #fab position="right bottom" direction="left">
        <ons-fab>
          <ons-icon icon="ion-plus-round"></ons-icon>
        </ons-fab>
        <ons-speed-dial-item (click)="onFabClicked(mediaType)"
                             *ngFor='let mediaType of contentArray'>
          <ons-icon [ngClass]="mediaType.icon"></ons-icon>
        </ons-speed-dial-item>
      </ons-speed-dial>
    </div>
  </div>
</div>
