.demo-card-blue {
background-color: #3b5998
.mat-card-actions {
  display: flex;
  flex-direction: column;
}
}

.card-width {
  width:650px;
  max-width:650px
}

.facebook-card-blue {
  background-color: #3b5998;
  color : #ffffff;
}

.periscope-card-blue {
  background-color: #3AA4C6;
  color : #ffffff;
}

.soundcloud_cloud {
  background-color: #fe3801;
  color : #ffffff;
}

.mixcloud_card {
  background-color: #000000;
  color : #ffffff;
}
