/* You can add global styles to this file, and also import other style files */

.locked {
  position: fixed;
}

.card-width {
  width: 700px;
  max-width: 700px
}

.center_div {
  margin: 0 auto;
  width: 80% /* value of your choice which suits your alignment */
}

.demo-card-blue {
  background-color: #e2e2e2;
  .mat-card-actions {
    display: flex;
    flex-direction: column;
  }
}

.post-container {
  margin: 20px 20px 0 0;
  word-wrap: break-all;
}
.post-thumb {
  float: left
}
.post-thumb img {
  display: block
}
.post-content {
  margin-left: 110px
}
.post-title {
  font-weight: bold;
  font-size: 120%
}

ion-scroll[direction=x] {
  width: 100vw;
}
ion-scroll[direction=y] {
  height: 100vh;
}

.myButton {
  -moz-box-shadow:inset 0px 1px 0px 0px #029a53;
  -webkit-box-shadow:inset 0px 1px 0px 0px #029a53;
  box-shadow:inset 0px 1px 0px 0px #029a53;
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #029a53), color-stop(1, #029a53));
  background:-moz-linear-gradient(top, #029a53 5%, #029a53 100%);
  background:-webkit-linear-gradient(top, #029a53 5%, #029a53 100%);
  background:-o-linear-gradient(top, #029a53 5%, #029a53 100%);
  background:-ms-linear-gradient(top, #029a53 5%, #029a53 100%);
  background:linear-gradient(to bottom, #029a53 5%, #029a53 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#029a53', endColorstr='#029a53',GradientType=0);
  background-color:#029a53;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family:Arial;
  font-size:13px;
  padding:6px 12px;
  text-decoration:none;
}
.myButton:hover {
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #029a53), color-stop(1, #029a53));
  background:-moz-linear-gradient(top, #029a53 5%, #029a53 100%);
  background:-webkit-linear-gradient(top, #029a53 5%, #029a53 100%);
  background:-o-linear-gradient(top, #029a53 5%, #029a53 100%);
  background:-ms-linear-gradient(top, #029a53 5%, #029a53 100%);
  background:linear-gradient(to bottom, #029a53 5%, #029a53 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#029a53', endColorstr='#029a53',GradientType=0);
  background-color:#029a53;
}
.myButton:active {
  position:relative;
  top:1px;
}

.myButton2 {
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #0099ff), color-stop(1, #0099ff));
  background:-moz-linear-gradient(top, #0099ff 5%, #0099ff 100%);
  background:-webkit-linear-gradient(top, #0099ff 5%, #0099ff 100%);
  background:-o-linear-gradient(top, #0099ff 5%, #0099ff 100%);
  background:-ms-linear-gradient(top, #0099ff 5%, #0099ff 100%);
  background:linear-gradient(to bottom, #0099ff 5%, #0099ff 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#0099ff', endColorstr='#0099ff',GradientType=0);
  background-color:#0099ff;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family:Arial;
  font-size:13px;
  font-weight:bold;
  padding:8px 15px;
  text-decoration:none;
}
.myButton2:hover {
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #0099ff), color-stop(1, #0099ff));
  background:-moz-linear-gradient(top, #0099ff 5%, #0099ff 100%);
  background:-webkit-linear-gradient(top, #0099ff 5%, #0099ff 100%);
  background:-o-linear-gradient(top, #0099ff 5%, #0099ff 100%);
  background:-ms-linear-gradient(top, #0099ff 5%, #0099ff 100%);
  background:linear-gradient(to bottom, #0099ff 5%, #0099ff 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#0099ff', endColorstr='#0099ff',GradientType=0);
  background-color:#0099ff;
}
.myButton2:active {
  position:relative;
  top:1px;
}

.popover{
  background-color: #000 !important;
  color: white !important;
}


.popover > .arrow,
.popover > .arrow:after {
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
}
.popover > .arrow {
  border-width: 11px;
}
.popover > .arrow:after {
  content: "";
  border-width: 10px;
}
.popover.top > .arrow {
  bottom: -11px;
  left: 50%;
  margin-left: -11px;
  border-top-color: #000;
  border-top-color: rgba(0, 0, 0, .25);
  border-bottom-width: 0;
}
.popover.top > .arrow:after {
  bottom: 1px;
  margin-left: -10px;
  content: " ";
  border-top-color: #000;
  border-bottom-width: 0;
}
.popover.right > .arrow {
  top: 50%;
  left: -11px;
  margin-top: -11px;
  border-right-color: #000;
  border-right-color: rgba(0, 0, 0, .25);
  border-left-width: 0;
}
.popover.right > .arrow:after {
  bottom: -10px;
  left: 1px;
  content: " ";
  border-right-color: #000;
  border-left-width: 0;
}
.popover.bottom > .arrow {
  top: -11px;
  left: 50%;
  margin-left: -11px;
  border-top-width: 0;
  border-bottom-color: #999;
  border-bottom-color: rgba(0, 0, 0, .25);
}
.popover.bottom > .arrow:after {
  top: 1px;
  margin-left: -10px;
  content: " ";
  border-top-width: 0;
  border-bottom-color: #000;
}
.popover.left > .arrow {
  top: 50%;
  right: -11px;
  margin-top: -11px;
  border-right-width: 0;
  border-left-color: #999;
  border-left-color: rgba(0, 0, 0, .25);
}
.popover.left > .arrow:after {
  right: 1px;
  bottom: -10px;
  content: " ";
  border-right-width: 0;
  border-left-color: #000;
}

.grayscale {
  -webkit-filter: brightness(0) invert(1);
  filter: brightness(0) invert(1);
}
