<form [formGroup]="form">
  <div class="demo-card-container">
    <md-card class="">
      <md-card-content>
        <md-input-container>
          <input [(ngModel)]="appInfo.appName"
                 (focusout)="OnFocusOut()"
                 (input)="onInput()"
                 [formControl]="form.controls['appName']"
                 mdTooltip="{{ appNameMinCharacters }}"
                 mdTooltipShowDelay="{{ displayTime }}"
                 mdTooltipPosition="right"
                 class="tb-width"
                 type="text"
                 maxlength="100"
                 mdInput
                 placeholder="App Name">
          <md-hint [ngStyle]="{'color': 'red'}"
                   align="start"
                   *ngIf="form.controls['appName'].hasError('required') && form.controls['appName'].touched">{{ appNameEmptyErrorMessage }}</md-hint>
        </md-input-container>
      </md-card-content>
    </md-card>
  </div>
  <br />
  <div class="demo-card-container">
    <md-card class="demo-card-blue">
      <md-card-content>
        <md-input-container>
          <textarea [(ngModel)]="appInfo.shortDescription"
                    (focusout)="OnFocusOut()"
                    (input)="onInput()"
                    [formControl]="form.controls['shortDescription']"
                    [ngClass]="{'has-error':!form.controls['appName'].valid && form.controls['appName'].touched}"
                    rows="2"
                    mdTooltip="{{ shortDescriptionMaxCharacters }}"
                    mdTooltipShowDelay="{{ displayTime }}"
                    mdTooltipPosition="above"
                    class="tb-width input-height has-error"
                    type="text"
                    mdInput
                    placeholder="Short Description"
                    maxlength="80">{{ appInfo.shortDescription }}</textarea>
          <md-hint [ngStyle]="{'color': 'red'}"
                   align="start"
                   *ngIf="form.controls['shortDescription'].hasError('required') && form.controls['shortDescription'].touched">{{ shortDescriptionEmptyErrorMessage }}</md-hint>
        </md-input-container>
        <br />
        <md-input-container>
          <textarea [(ngModel)]="appInfo.longDescription"
                    (focusout)="OnFocusOut()"
                    (input)="onInput()"
                    [formControl]="form.controls['longDescription']"
                    rows="10"
                    mdTooltip="{{ longDescriptionMaxCharacters }}"
                    mdTooltipShowDelay="{{ displayTime }}"
                    class="tb-width"
                    mdInput
                    maxlength="1000"
                    placeholder="Long App Description">{{ appInfo.shortDescription }}</textarea>
          <md-hint [ngStyle]="{'color': 'red'}"
                   align="start"
                   *ngIf="form.controls['longDescription'].hasError('required') && form.controls['longDescription'].touched">{{ longDescriptionEmptyErrorMessage }}</md-hint>
        </md-input-container>
      </md-card-content>
    </md-card>
  </div>
  <br />

  <div class="demo-card-container">
    <md-card class="demo-card-blue">
      <md-card-content>
        <tag-input [formControl]="form.controls['keywords']"
                   (focusout)="OnFocusOut()"
                   (input)="onInput()"
                   [(ngModel)]="appInfo.keywords"
                   (onBlur)="onTagLostFocus($event)"
                   mdTooltip="{{ keywordMaxCharacters }}"
                   mdTooltipShowDelay="{{ displayTime }}"
                   maxItems="100"
                   secondaryPlaceholder="Add keywords"
                   modelAsStrings="true"
                   blinkIfDupe="true"
                   placeholder="Add another keyword"
                   pasteSplitPattern="[' ']"
                   addOnSpace="true"
                   addOnPaste="true"
                   trimTags="true"
                   editable="true"
                   addOnBlur="true"
                   separatorKeys="[32]"></tag-input>  <!-- separatorKeys=[32] mean to use space as way to seperate keys-->
        <md-hint [ngStyle]="{'color': 'red'}"
                 align="start"
                 *ngIf="form.controls['keywords'].hasError('required') && isTagTouched">{{ keywordEmptyErrorMessage }}</md-hint>
      </md-card-content>
    </md-card>
  </div>

  <br />

  <div class="demo-card-container">
    <md-card class="demo-card-blue">
      <md-card-subtitle>
        <em>Upload a picture that is at least 512 in one dimmension. E.g. 512x500 or 350x600</em>
      </md-card-subtitle>
      <md-card-content>
        <div>
          <img-cropper #cropper [image]="data" [settings]="cropperSettings" (onCrop)="onCrop($event)"></img-cropper><br>
          <!--<img [src]="data.image" [width]="cropperSettings.croppedWidth" [height]="cropperSettings.croppedHeight">-->
        </div>
      </md-card-content>
    </md-card>
  </div>
      
</form>