<div class="block">
    <form action="#">
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input" type="text">
            <label class="mdl-textfield__label" for="sample3">App Name</label>
        </div>
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input" type="text">
            <label class="mdl-textfield__label" for="sample3">App Name</label>
        </div>
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input" type="text">
            <label class="mdl-textfield__label" for="sample3">App Name</label>
        </div>
    </form>
</div>
<div class="block">
    <devicem></devicem>
</div>

