/* You can add global styles to this file, and also import other style files */

.locked {
  position: fixed;
}

.card-width {
  width: 700px;
  max-width: 700px
}

.center_div {
  margin: 0 auto;
  width: 80% /* value of your choice which suits your alignment */
}

.demo-card-blue {
  background-color: #e2e2e2;
  .mat-card-actions {
    display: flex;
    flex-direction: column;
  }
}

.post-container {
  margin: 20px 20px 0 0;
  word-wrap: break-all;
}
.post-thumb {
  float: left
}
.post-thumb img {
  display: block
}
.post-content {
  margin-left: 110px
}
.post-title {
  font-weight: bold;
  font-size: 120%
}

ion-scroll[direction=x] {
  width: 100vw;
}
ion-scroll[direction=y] {
  height: 100vh;
}

.myButton {
  -moz-box-shadow:inset 0px 1px 0px 0px #029a53;
  -webkit-box-shadow:inset 0px 1px 0px 0px #029a53;
  box-shadow:inset 0px 1px 0px 0px #029a53;
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #029a53), color-stop(1, #029a53));
  background:-moz-linear-gradient(top, #029a53 5%, #029a53 100%);
  background:-webkit-linear-gradient(top, #029a53 5%, #029a53 100%);
  background:-o-linear-gradient(top, #029a53 5%, #029a53 100%);
  background:-ms-linear-gradient(top, #029a53 5%, #029a53 100%);
  background:linear-gradient(to bottom, #029a53 5%, #029a53 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#029a53', endColorstr='#029a53',GradientType=0);
  background-color:#029a53;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family:Arial;
  font-size:13px;
  padding:6px 12px;
  text-decoration:none;
}
.myButton:hover {
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #029a53), color-stop(1, #029a53));
  background:-moz-linear-gradient(top, #029a53 5%, #029a53 100%);
  background:-webkit-linear-gradient(top, #029a53 5%, #029a53 100%);
  background:-o-linear-gradient(top, #029a53 5%, #029a53 100%);
  background:-ms-linear-gradient(top, #029a53 5%, #029a53 100%);
  background:linear-gradient(to bottom, #029a53 5%, #029a53 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#029a53', endColorstr='#029a53',GradientType=0);
  background-color:#029a53;
}
.myButton:active {
  position:relative;
  top:1px;
}

.myButton2 {
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #0099ff), color-stop(1, #0099ff));
  background:-moz-linear-gradient(top, #0099ff 5%, #0099ff 100%);
  background:-webkit-linear-gradient(top, #0099ff 5%, #0099ff 100%);
  background:-o-linear-gradient(top, #0099ff 5%, #0099ff 100%);
  background:-ms-linear-gradient(top, #0099ff 5%, #0099ff 100%);
  background:linear-gradient(to bottom, #0099ff 5%, #0099ff 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#0099ff', endColorstr='#0099ff',GradientType=0);
  background-color:#0099ff;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family:Arial;
  font-size:13px;
  font-weight:bold;
  padding:8px 15px;
  text-decoration:none;
}
.myButton2:hover {
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #0099ff), color-stop(1, #0099ff));
  background:-moz-linear-gradient(top, #0099ff 5%, #0099ff 100%);
  background:-webkit-linear-gradient(top, #0099ff 5%, #0099ff 100%);
  background:-o-linear-gradient(top, #0099ff 5%, #0099ff 100%);
  background:-ms-linear-gradient(top, #0099ff 5%, #0099ff 100%);
  background:linear-gradient(to bottom, #0099ff 5%, #0099ff 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#0099ff', endColorstr='#0099ff',GradientType=0);
  background-color:#0099ff;
}
.myButton2:active {
  position:relative;
  top:1px;
}

/* Master Styles */
h1 {
  color: #369;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
}
h2, h3 {
  color: #444;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
}
body {
  margin: 2em;
}
body, input[text], button {
  color: #888;
  font-family: Cambria, Georgia;
}
a {
  cursor: pointer;
  cursor: hand;
}
button {
  font-family: Arial;
  background-color: #eee;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  cursor: hand;
}
button:hover {
  background-color: #cfd8dc;
}
button:disabled {
  background-color: #eee;
  color: #aaa;
  cursor: auto;
}

/* Navigation link styles */
nav a {
  padding: 5px 10px;
  text-decoration: none;
  margin-top: 10px;
  display: inline-block;
  background-color: #eee;
  border-radius: 4px;
}
nav a:visited, a:link {
  color: #607D8B;
}
nav a:hover {
  color: #039be5;
  background-color: #CFD8DC;
}
nav a.router-link-active {
  color: #039be5;
}

/* items class */
.items {
  margin: 0 0 2em 0;
  list-style-type: none;
  padding: 0;
  width: 24em;
}
.items li {
  cursor: pointer;
  position: relative;
  left: 0;
  background-color: #EEE;
  margin: .5em;
  padding: .3em 0;
  height: 1.6em;
  border-radius: 4px;
}
.items li:hover {
  color: #607D8B;
  background-color: #DDD;
  left: .1em;
}
.items li.selected:hover {
  background-color: #BBD8DC;
  color: white;
}
.items .text {
  position: relative;
  top: -3px;
}
.items {
  margin: 0 0 2em 0;
  list-style-type: none;
  padding: 0;
  width: 24em;
}
.items li {
  cursor: pointer;
  position: relative;
  left: 0;
  background-color: #EEE;
  margin: .5em;
  padding: .3em 0;
  height: 1.6em;
  border-radius: 4px;
}
.items li:hover {
  color: #607D8B;
  background-color: #DDD;
  left: .1em;
}
.items li.selected {
  background-color: #CFD8DC;
  color: white;
}

.items li.selected:hover {
  background-color: #BBD8DC;
}
.items .text {
  position: relative;
  top: -3px;
}
.items .badge {
  display: inline-block;
  font-size: small;
  color: white;
  padding: 0.8em 0.7em 0 0.7em;
  background-color: #607D8B;
  line-height: 1em;
  position: relative;
  left: -1px;
  top: -4px;
  height: 1.8em;
  margin-right: .8em;
  border-radius: 4px 0 0 4px;
}

/* everywhere else */
* {
  font-family: Arial, Helvetica, sans-serif;
}


/*
Copyright 2016 Google Inc. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
*/
